In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score

In [83]:
data_raw = pd.read_csv('train.csv')
data_val =pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [84]:

data1 = data_raw.copy(deep = True)
data_cleaner = [data1, data_val]
print (data_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    18250 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB
None

In [85]:
data_raw.sample(10)

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
29883,29884,2021-11-02,3,6,NaN,NaN,1,0,0,0,0,0,1,0,0,0,0,0,0
21703,21704,2021-09-07,7,7,NaN,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0
17867,17868,2021-08-10,3,8,4.0,2018-08-22,0,0,0,0,1,0,0,0,0,0,1,0,0
37221,37222,2021-12-19,7,7,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
34015,34016,2021-11-29,3,5,NaN,NaN,0,0,0,0,0,1,1,0,0,0,1,0,0
31988,31989,2021-11-16,15,11,NaN,2020-10-19,1,0,0,0,0,0,1,0,0,0,0,0,0
19365,19366,2021-08-22,4,7,NaN,2020-12-02,1,0,0,0,0,1,0,0,0,0,0,0,0
32071,32072,2021-11-17,3,8,2.0,2019-10-27,0,0,0,0,0,1,0,0,0,0,0,0,0
12132,12133,2021-06-22,1,2,3.0,2019-12-17,1,0,0,0,1,0,0,1,0,0,0,0,0
1087,1088,2021-01-27,8,4,3.0,2018-11-05,1,0,0,0,1,1,0,0,0,0,0,0,0

In [86]:
print('Train columns with null values:\n', data1.isnull().sum())
print("-"*10)

print('Test/Validation columns with null values:\n', data_val.isnull().sum())
print("-"*10)

data_raw.describe(include = 'all')

Train columns with null values:
 id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64
----------
Test/Validation columns with null values:
 id                         0
created_at                 0
campaign_var_1             0
campaign_var_2             0
products_purchased      8136
signup_date             6649
user_activity_var_1        0
user_activity_var_2        0
user_activity_var_3        0
user_activity_var_4        0
user_activity_var_5        0
user_activity_var_6        0
user_activity_var_7        0
user_activity_var_8        0
user_activity_var_9        0
user_activity_var_10       0
user_activity_var_11       0
user_activity_var_12       0
dtype: int64
----------

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
count,39161.000000,39161,39161.000000,39161.000000,18250.000000,24048,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000
unique,NaN,365,NaN,NaN,NaN,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2021-12-26,NaN,NaN,NaN,2021-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,181,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,19581.000000,NaN,6.523812,6.452746,2.154137,NaN,0.400092,0.006716,0.102832,0.011465,0.151503,0.499834,0.286612,0.174434,0.011440,0.000383,0.218942,0.000562,0.051020
std,11304.951283,NaN,3.472944,2.614296,0.779815,NaN,0.509194,0.081676,0.303743,0.106463,0.359681,0.558166,0.455784,0.379689,0.106346,0.019568,0.431544,0.023696,0.220042
min,1.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9791.000000,NaN,4.000000,5.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19581.000000,NaN,6.000000,6.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29371.000000,NaN,9.000000,8.000000,3.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39161.000000,NaN,16.000000,15.000000,4.000000,NaN,3.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [87]:
for dataset in data_cleaner:    
    #complete missing age with median
    dataset['products_purchased'].fillna(dataset['products_purchased'].median(), inplace = True)

    #complete embarked with mode
    dataset['signup_date'].fillna(dataset['signup_date'].mode()[0], inplace = True)

   
print(data1.isnull().sum())
print("-"*10)
print(data_val.isnull().sum())

id                      0
created_at              0
campaign_var_1          0
campaign_var_2          0
products_purchased      0
signup_date             0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
buy                     0
dtype: int64
----------
id                      0
created_at              0
campaign_var_1          0
campaign_var_2          0
products_purchased      0
signup_date             0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
dtype: int64

In [88]:
data1.info()
data_val.info()
data1.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           39161 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   created_at            13184 non-null  object
 2   campaign_var_1        13184 non-null  int64
 3   campaign_var_2        13184 non-null  int64
 4   products_purchased    13184 non-null  float64
 5   signup_date           13184 non-null  object
 6   user_activity_var_1   13184 non-null  int64
 7   user_activity_var_2   13184 non-null  int64
 8   user_activity_var_3   13184 non-null  int64
 9   user_activity_var_4   13184 non-null  int64
 10  user_activity_var_5   13184 non-null  int64
 11  user_activity_var_6   13184 non-null  int64
 12  user_activity_var_7   13184 non-null  int64
 13  user_activity_var_8   13184 non-null  int64
 14  user_activity_var_9   13184 non-null  int64
 15  user_activity_var_10  13184 non-null  int64
 16  user_activity_var_11  13184 non-null  int64
 17  user_activity_var_12  13184 non-null  int64
dtypes: float64(1), int64(15), object(2)
memory usage: 1.8+ MB

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
11411,11412,2021-06-15,6,7,1.0,2021-09-26,1,0,0,0,0,1,0,0,0,0,2,0,1
28288,28289,2021-10-23,8,7,2.0,2021-07-18,0,0,0,0,0,1,0,0,0,0,1,0,0
36976,36977,2021-12-18,13,9,2.0,2021-07-18,1,0,0,0,0,1,0,0,0,0,0,0,0
35321,35322,2021-12-07,7,10,2.0,2021-07-18,0,0,0,0,0,0,1,0,0,0,0,0,0
16878,16879,2021-08-02,3,7,2.0,2021-07-18,1,0,1,0,1,0,1,0,0,0,0,0,0
37563,37564,2021-12-21,2,3,2.0,2019-11-20,0,0,0,0,0,1,0,0,0,0,1,0,0
18552,18553,2021-08-15,1,1,2.0,2020-06-07,0,0,1,0,0,0,1,0,0,0,0,0,0
3052,3053,2021-03-06,2,4,2.0,2021-07-18,1,0,0,0,0,0,1,0,0,0,0,0,0
5640,5641,2021-04-12,6,6,2.0,2021-08-21,0,0,1,0,0,0,1,0,0,0,0,0,0
33133,33134,2021-11-23,9,5,3.0,2020-08-25,1,0,0,0,0,1,0,0,0,0,0,0,0

In [89]:
from sklearn.preprocessing import LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

In [90]:
#CONVERT: convert objects to category using Label Encoder for train and test/validation dataset

#code categorical data
la = LabelEncoder()
for dataset in data_cleaner:    
    dataset.created_at = la.fit_transform(dataset.created_at)
    dataset.signup_date = la.fit_transform(dataset.signup_date)

In [91]:
Target = ['buy']

In [92]:
print('Train columns with null values: \n', data1.isnull().sum())
print("-"*10)
print (data1.info())
print("-"*10)

print('Test/Validation columns with null values: \n', data_val.isnull().sum())
print("-"*10)
print (data_val.info())
print("-"*10)

data_raw.describe(include = 'all')

Train columns with null values:
 id                      0
created_at              0
campaign_var_1          0
campaign_var_2          0
products_purchased      0
signup_date             0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
buy                     0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  int32
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           39161 non-null  int32
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int32(2), int64(16)
memory usage: 5.4 MB
None
----------
Test/Validation columns with null values:
 id                      0
created_at              0
campaign_var_1          0
campaign_var_2          0
products_purchased      0
signup_date             0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   created_at            13184 non-null  int32
 2   campaign_var_1        13184 non-null  int64
 3   campaign_var_2        13184 non-null  int64
 4   products_purchased    13184 non-null  float64
 5   signup_date           13184 non-null  int32
 6   user_activity_var_1   13184 non-null  int64
 7   user_activity_var_2   13184 non-null  int64
 8   user_activity_var_3   13184 non-null  int64
 9   user_activity_var_4   13184 non-null  int64
 10  user_activity_var_5   13184 non-null  int64
 11  user_activity_var_6   13184 non-null  int64
 12  user_activity_var_7   13184 non-null  int64
 13  user_activity_var_8   13184 non-null  int64
 14  user_activity_var_9   13184 non-null  int64
 15  user_activity_var_10  13184 non-null  int64
 16  user_activity_var_11  13184 non-null  int64
 17  user_activity_var_12  13184 non-null  int64
dtypes: float64(1), int32(2), int64(15)
memory usage: 1.7 MB
None
----------

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
count,39161.000000,39161,39161.000000,39161.000000,18250.000000,24048,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000
unique,NaN,365,NaN,NaN,NaN,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2021-12-26,NaN,NaN,NaN,2021-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,181,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,19581.000000,NaN,6.523812,6.452746,2.154137,NaN,0.400092,0.006716,0.102832,0.011465,0.151503,0.499834,0.286612,0.174434,0.011440,0.000383,0.218942,0.000562,0.051020
std,11304.951283,NaN,3.472944,2.614296,0.779815,NaN,0.509194,0.081676,0.303743,0.106463,0.359681,0.558166,0.455784,0.379689,0.106346,0.019568,0.431544,0.023696,0.220042
min,1.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9791.000000,NaN,4.000000,5.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19581.000000,NaN,6.000000,6.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29371.000000,NaN,9.000000,8.000000,3.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39161.000000,NaN,16.000000,15.000000,4.000000,NaN,3.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [93]:
data1.dropna(axis=0, subset=['buy'], inplace=True)
y = data1.buy
X = data1.drop(['buy'], axis=1)

In [94]:
train_X, test_X, train_y, test_y = model_selection.train_test_split(X, y, test_size=0.40)

print("Data1 Shape: {}".format(data1.shape))
print("Train1 Shape: {}".format(train_X.shape))
print("Test1 Shape: {}".format(test_X.shape))

Data1 Shape: (39161, 19)
Train1 Shape: (23496, 18)
Test1 Shape: (15665, 18)

In [120]:
for x in data1:
    if data1[x].dtype != 'float64' :
        print('buyying Correlation by:', x)
        print(data1[[x, Target[0]]].groupby(x, as_index=False).mean())
        print('-'*10, '\n')
        

#using crosstabs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html
print(pd.crosstab(data1['Title'],data1[Target[0]]))

buyying Correlation by: id
          id  buy
0          1  0.0
1          2  0.0
2          3  0.0
3          4  0.0
4          5  0.0
...      ...  ...
39156  39157  0.0
39157  39158  0.0
39158  39159  0.0
39159  39160  0.0
39160  39161  0.0

[39161 rows x 2 columns]
----------

buyying Correlation by: created_at
     created_at       buy
0             0  0.000000
1             1  0.000000
2             2  0.000000
3             3  0.000000
4             4  0.076923
..          ...       ...
360         360  0.032680
361         361  0.072368
362         362  0.021277
363         363  0.025157
364         364  0.040816

[365 rows x 2 columns]
----------

buyying Correlation by: campaign_var_1
    campaign_var_1       buy
0                1  0.060891
1                2  0.071429
2                3  0.072939
3                4  0.068940
4                5  0.065764
5                6  0.056144
6                7  0.052982
7                8  0.044614
8                9  0.035939
9               10  0.025502
10              11  0.025627
11              12  0.016495
12              13  0.011331
13              14  0.002801
14              15  0.006579
15              16  0.000000
----------

buyying Correlation by: campaign_var_2
    campaign_var_2       buy
0                1  0.037351
1                2  0.058166
2                3  0.058966
3                4  0.077854
4                5  0.072381
5                6  0.063545
6                7  0.053545
7                8  0.040299
8                9  0.028838
9               10  0.014795
10              11  0.004965
11              12  0.003942
12              13  0.002849
13              14  0.000000
14              15  0.000000
----------

buyying Correlation by: signup_date
      signup_date       buy
0               0  0.000000
1               1  1.000000
2               2  1.000000
3               3  1.000000
4               4  1.000000
...           ...       ...
1795         1795  0.107143
1796         1796  0.064516
1797         1797  0.000000
1798         1798  0.000000
1799         1799  0.000000

[1800 rows x 2 columns]
----------

buyying Correlation by: user_activity_var_1
   user_activity_var_1       buy
0                    0  0.044283
1                    1  0.059395
2                    2  0.147059
3                    3  0.000000
----------

buyying Correlation by: user_activity_var_2
   user_activity_var_2       buy
0                    0  0.044604
1                    1  1.000000
----------

buyying Correlation by: user_activity_var_3
   user_activity_var_3       buy
0                    0  0.050635
1                    1  0.054383
----------

buyying Correlation by: user_activity_var_4
   user_activity_var_4       buy
0                    0  0.041667
1                    1  0.857461
----------

buyying Correlation by: user_activity_var_5
   user_activity_var_5       buy
0                    0  0.036097
1                    1  0.132520
2                    2  1.000000
----------

buyying Correlation by: user_activity_var_6
   user_activity_var_6       buy
0                    0  0.052895
1                    1  0.049509
2                    2  0.040517
3                    3  0.000000
----------

buyying Correlation by: user_activity_var_7
   user_activity_var_7       buy
0                    0  0.054891
1                    1  0.041547
2                    2  0.000000
----------

buyying Correlation by: user_activity_var_8
   user_activity_var_8       buy
0                    0  0.060867
1                    1  0.004396
2                    2  0.000000
----------

buyying Correlation by: user_activity_var_9
   user_activity_var_9       buy
0                    0  0.040038
1                    1  1.000000
----------

buyying Correlation by: user_activity_var_10
   user_activity_var_10       buy
0                     0  0.050657
1                     1  1.000000
----------

buyying Correlation by: user_activity_var_11
   user_activity_var_11       buy
0                     0  0.026994
1                     1  0.114339
2                     2  0.986547
3                     3  1.000000
4                     4  1.000000
----------

buyying Correlation by: user_activity_var_12
   user_activity_var_12       buy
0                     0  0.050666
1                     1  0.681818
----------

buyying Correlation by: buy

ValueError: Grouper for 'buy' not 1-dimensional

In [96]:
from sklearn import ensemble
from xgboost import XGBClassifier

In [97]:
from xgboost import XGBClassifier
my_model = XGBClassifier()
my_model.fit(train_X, train_y, verbose=False)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [98]:
predictions = my_model.predict(test_X)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))

Mean Absolute Error : 0.028024257899776573